*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
}
img{
    height: 100vh!important;
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
body div:nth-child(3){
    margin-top: 15px;
}
#main{
    padding-top: 50px;
    height:60vh;
    background-color:rgba(240, 248, 250, 0.6);
}
#footer{
    position: absolute;
    bottom: 5vh;
    width: 100%!important;
    text-align: center;
}
@media screen and (max-width:420px) {
    #button{
        font-size: 10pt!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
